/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #909199;
}

ul {
    list-style: none;
}

/* Background */
body > div {
    background-color: #222634;
    height: 1000px;
    width: 100%;
    background: linear-gradient(170deg, #202432 0 80%, white 50% 100%)
}

/******************************************
/* NAV
/*******************************************/
nav {
    height: 100px;
    padding: 40px;
}

/* Nav Layout */
nav > section {
    width: 40%;
}

nav > * {
    float: left;
    height: 100px;
}

nav > ul {
    width: 60%;
    margin: 0;
}

nav li {
    width: 14%;
    float: left;
    text-align: center;
}

li.sign-up {
    width: 16%;
}

/* Nav Styling */
#logo {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

#home {
    color: white;
}

a.sign-up {
    color: white;
    background-color: #393c4a;
    border-radius: 7px;
    padding: 15px 27px;
    width: 100%;
}

/******************************************
/* MAIN
/*******************************************/
main {
    color: white;
}