/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(246,247,249);
    background: linear-gradient(0deg, rgba(246,247,249,1) 90%, rgba(255,255,255,1) 100%);
}

a {
    text-decoration: none;
    color: #909199;
}

ul {
    list-style: none;
}

span {
    display: block;
}

p {
    font-size: 20px;
    color: #8d92a3;
}

div > span {
    margin-top: 10px;
}

/* image icons */
.image-icon {
    width: 35px;
    height: 30px;
}

/* link styling to look like buttons */
.button {
    background-color: #222634;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 45px;
}

/* text content */
.text-content {
    & span {
        color: #222634;
    }
    & p + p {
        margin-bottom: 150px;
    }
}

/* Background */
body > div {
    background-color: #222634;
    height: 720px;
    width: 100%;
    background: linear-gradient(175deg, #202432 0 70%, #f6f7f9 30% 100%)
}

/******************************************
/* NAV
/*******************************************/
nav {
    height: 100px;
    padding: 40px;
}

/* Nav Layout */
nav > section {
    width: 30%;
}

nav > * {
    float: left;
    height: 100px;
}

nav > ul {
    width: 70%;
    margin: 0;
}

nav li {
    width: 14%;
    float: left;
    text-align: center;
}

li.sign-up {
    width: 16%;
}

/* Nav Styling */
#logo {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 10px;
}

#home {
    color: white;
}

a.sign-up {
    color: white;
    background-color: #393c4a;
    border-radius: 7px;
    padding: 15px 27px;
    width: 100%;
}

/******************************************
/* MAIN
/*******************************************/
main {
    color: white;
    padding: 50px 100px 0px 100px;
    height: 500px;
}

main > section {
    width: 50%;
    float: left;
    height: 400px;
}

main h1 {
    font-weight: normal;
}

section.main {
    padding-right: 150px;
}

.main > * {
    color: white;
    margin: 40px 0;
}

.main > a {
    width: 45%;
    float: left;
    padding: 20px;
    color: white;
}

.main > .button {
    margin-right: 20px;
    background-color: white;
    color: #222634;
    border-radius: 10px;
    text-align: center;
}

/* Div Illustration */
#white {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-top: 15px;
    box-shadow: 0px 10px 15px 0px #2226342d;
}

#white > div {
    background-color: #dee0e8;
    width: 85%;
    height: 370px;
    margin: auto;
    padding-top: 110px;
}

#white > div > div {
    background-color: #222634;
    width: 40%;
    height: 150px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/* Platforms Icons */
section + img {
    float: right;
    width: 1000px;
    margin-top: 100px;
}

/******************************************
/* SECTION TWO
/*******************************************/
#section-two {
    padding: 100px;
    height: 900px;
}

#section-two > section {
    width: 50%;
    height: 700px;
    float: left;
}

/* text content */
#section-two > .text-content {
    padding-right: 150px;
}

/* four image sections */
#four-image > section {
    width: 300px;
    float: left;
    height: 320px;
    margin: 0 0 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #aeafb32d;
}

#four-image > section * {
    text-align: center;
}

#four-image div {
    width: 100%;
    height: 200px;
    background-color: #dee0e8;
    border-radius: 10px;
    padding-top: 75px;
}

#four-image > section > p {
    font-size: 15px;
    margin: 5px;
}

#dark > div {
    background-color: #222634;
    color: white;
}


/******************************************
/* SECTION THREE
/*******************************************/

#section-three {
    padding: 100px;
    height: 700px;
}

#section-three > section {
    width: 50%;
    float: left;
    height: 100%;
}

#section-three .text-content {
    padding-left: 150px;
}

/* image content */
.illustration {
    width: 100%;
    height: 500px;
    background-color: #dee0e8;
    padding-top: 175px;
    border-radius: 10px;
}

.illustration > div {
    width: 40%;
    height: 150px;
    background-color: #222634;
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 50px;
}

/******************************************
/* SECTION FOUR
/*******************************************/

#section-four {
    text-align: center;
    padding: 100px;
    height: 1000px;
}

#section-four > section {
    width: 50%;
    height: 600px;
    float: left;
}

#section-four > .text-content {
    text-align: left;
    padding-left: 150px;
}

#section-four > p {
    padding: 20px 200px 30px 200px;
}

#section-four p {
    margin-bottom: 30px;
}

/* box */
.box {
    height: 80px;
    margin-bottom: 30px;
}

.box > * {
    float: left;
}

.box div {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
}

.box > section {
    width: 85%;
    margin-left: 20px;
}

.box  h4 {
    margin: 0 0 20px 0;
}

/* arrow buttons */
.arrow {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 3px solid black;
    padding: 7px;
    text-align: center;
    border-radius: 30px;
    margin-right: 20px;
}

.arrow a {
    color: black;
    font-weight: bold;
}

/******************************************
/* SECTION FIVE
/*******************************************/

#section-five {
    height: 850px;
    background: linear-gradient(175deg, #f6f7f9 0 17%, #202432 17% 100%);
}

#section-five > section {
    width: 400px;
    padding-left: 100px;
    margin-bottom: 100px;
}

#section-five > section.features {
    width: 25%;
    height: 200px;
    float: left;
    background-color: white;
    padding: 35px;
    margin: 50px;
    border-radius: 10px;

    & p {
        font-size: 15px;
    }
}

section#section-five > section.all {
    text-align: center;
    padding-top: 65px;
}

.feature-box {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
}

/******************************************
/* MAIN
/*******************************************/
/******************************************
/* MAIN
/*******************************************/
/******************************************
/* MAIN
/*******************************************/
/******************************************
/* MAIN
/*******************************************/