/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Basic Box Section Styling */
.clear {
	clear: both;
    height: 200px;
    border: 5px solid black;
}

section {
    height: 500px;
    width: 33.333%;
    border: 5px solid black;
    float: left;
}