/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: #f6f8fb;
    font-family: Arial, Helvetica, sans-serif;
    color: #374557;
}

a {
    text-decoration: none;
    color: #374557;
}

button {
    background-color: #374557;
    border: none;
    padding: 10px;
    color: white;
    width: 100px;
    height: 40px;
}

span {
    display: block;
}

main > span {
    color: #8392a4;
}

input {
    background-color: #e3e8ef;
    color: #848c99;
    border: none;
    height: 40px;
    width: 70%;
    margin: 0;
}

section.clear > section > img {
    width: 50px;
    height: 45px;
}

section.clear > section > a {
    font-weight: bold;
}

h3 {
    font-size: 25px;
}

section.clear + section {
    background-color: white;
}

section.clear + section > h2 {
    font-size: 40px;
    margin-top: 0;
}

section.clear + section > p {
    color: #8392a4;
}

/******************************************
/* DESKTOP VIEW
/*******************************************/
@media (min-width: 709px) {
    /* Nav */
    .nav {
        display: block;
        height: 60px;
    }

    .nav > *{
        width: 20%;
        float: left;
        text-align: center;
    }

    .nav h2 {
        margin: 16px 0;
    }

    .nav ul {
        list-style: none;
        margin: 20px 0;
        padding: 0;
        width: 60%;
    }
    
    .nav li {
        float: left;
        width: 25%;
    }

    .nav button {
        margin: 10px;
    }
    
    /* hide mobile nav */
    .nav-mobile {
        display: none;
    }

    /* Main */
    main, main + img {
        width: 50%;
        float: left;
    }

    main {
        padding: 70px;
    }

    main > input {
        height: 50px;
    }

    /* Four Features */
    section.clear > hr {
        display: none;
    }

    section.clear {
        padding: 40px;
        height: 300px;
    }
    
    section > section {
        width: 25%;
        float: left;
        padding: 10px;
    }

    /* Bottom Section */
    section.clear + section {
        height: 300px;
        padding: 50px;
    }

    section.clear + section > * {
        margin-right: 500px;
    }
    
    section > div {
        width: 100%;
        height: 100px;
        background-color: #e3e8ef;
    }
}

/******************************************
/* MOBILE VIEW
/*******************************************/
@media (max-width: 710px) {
    /* Nav */
    .nav-mobile {
        display: block;
        height: 80px;
        text-align: center;
        border-bottom: 2px solid #e3e8ef;
        padding: 15px;
    }

    .nav-mobile img {
        width: 50px;
        height: auto;
        float: left;
    }

    .nav-mobile img:hover {
        cursor: pointer;
    }

    .nav-mobile h2 {
        font-size: 35px;
        padding: 5px 50px 0;
        margin: 0;
    }

    /* hide desktop nav */
    .nav {
        display: none;
    }

    /* Main */
    main {
        padding: 20px;
    }

    input, main button {
        width: 100%;
    }

    main button {
        margin-top: 10px;
    }

    main + img {
        float: right;
        width: 97%;
    }

    /* Four Features Section */
    section.clear {
        padding: 40px;
    }
    
    section.clear > section {
        margin-bottom: 20px;
    }

    section.clear > hr {
        display: block;
        color: #e3e8ef;
    }

    /* Bottom Section */
    section.clear + section {
        height: 300px;
        padding: 50px;
    }
    
    section > div {
        width: 100%;
        height: 100px;
        background-color: #e3e8ef;
    }

}


