/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* change font of page to sans-serif */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* delete link decoration */
a {
    text-decoration: none;
}

/* delete bullets for lists */
ul {
    list-style: none;
}

/* fit images to the widths of their columns */
img {
    width: 100%;
}

/* make spans bold and block*/
span {
    font-weight: bold;
    display: block;
}

/******************************************
/* NAV
/*******************************************/

/* layout */
nav { 
    float: left;
    width: 15%;
}

/* pads everything and makes 'login' gray */
nav > * {
    padding: 20px;
    color: gray;
}

/* fixes list of <a> tags */
nav > ul * {
    margin-bottom: 10px;
    color: gray;
}

/******************************************
/* BIG SECTION
/*******************************************/

nav + section {
    float: left;
    width: 85%;
}

main {
    width: 60%;
    float: left;
}

aside {
    width: 40%;
    float: left;
}

main > img {
    margin-top: 10px;
}

/******************************************
/* BOTTOM SECTION
/*******************************************/
section.clear > section > * {
    width: 30%;
    float: left;
}

section > section {
    height: 250px;
}

span + span, p {
    color: gray;
}