li {
    color: blue;
    text-decoration: underline;
    background-color: gray;
}

section {
    height: 200px;
    background-color: #e3c5f0;
    border: gold 5px solid;
}

h1 {
    font-size: 30px;
    color: gold;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: #30130b;
    height: 300px;
    width: 70%;
}

h2 {
    text-decoration: line-through; 
}