/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/******************************************
/* NAVIGATION
/*******************************************/

nav {
    height: 20px;
}

nav li {
    width: 10%;
    float: left;
    text-align: center;
}

.ends {
    width: 20%;
}

/******************************************
/* MAIN SECTION
/*******************************************/

main {
    background-color: #9e9393;
    color: white;
    height: 600px;
    padding: 150px 0 0 100px;

    h1 {
        font-weight: lighter;
        font-size: 50px;
        margin: 0 0 20px;
    }
    
    a {
        color: white;
        display: block;
        background-color: black;
        width: 170px;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        margin-top: 20px;
    }
    
    section {
        background-color: black;
        width: 250px;
        padding: 20px;
        margin-top: 50px;

        h2 {
            font-weight: lighter;
            font-size: 15px;
        }

        span {
            font-weight: bold;
            font-size: 30px;
            display: inline-block;
            margin-bottom: 10px;
        }

        a {
            background-color: white;
            color: black;
            margin: 30px 0;
        }
    }
}

/******************************************
/* SECTION ONE
/*******************************************/

#one {
    margin: 100px auto 0;
    width: 60%;
    height: 400px;

    section {
        width: 25%;
        float: left;
        text-align: center;
        margin: 0 20px;
    }
}

/******************************************
/* SECTION TWO
/*******************************************/

#two {
    background-color: #f3f4f5;
    padding: 30px 100px;
    height: 500px;
    
    section {
        width: 80%;
        margin: 0 auto;
    }

     > section > * {
        width: 50%;
        float: left;
        padding: 20px;
    }

    h2 {
        font-size: 50px;
        font-weight: normal;
    }

    p {
        color: gray;
    }

    a {
        color: white;
        display: block;
        background-color: black;
        width: 170px;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        margin-top: 20px;
    }
    
}

/******************************************
/* SECTION THREE
/*******************************************/

#three {
    width: 80%;
    margin: 80px auto;
    height: 600px;
    section {
        width: 33%;
        float: left;
        padding: 20px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
