* {
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    border: 3px solid black;
    clear: both;
}

section {
    height: 300px;
    border: 3px solid black;
}

.three {
    width: 33.333%;
    float: left;
}

.two {
    width: 50%;
    float: right;
}