/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: #ff8800;
}

h2 {
    font-size: 60px;
    margin: 10px 0 30px 0;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/

/* @media (min-width: 1000px) {
    body > section {
        background-image: url(https://placehold.co/2000x800);
    }
} */

/******************************************
/* NAVIGATION
/*******************************************/

nav {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 500px;
    height: 70px;
    background-color: #f3f7f8;
}

nav > ul > * {
    width: 10%;
    float: left;
    margin-right: 10px;
    text-align: center;
}


/******************************************
/* MAIN
/*******************************************/

main {
    padding: 100px 0 0 100px;
    height: 620px;
    background-color: #f3f7f8;
}

h1 {
    font-size: 80px;
    width: 50%;
    margin: 0 0 20px 0;
}

form {
    width: 55%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 40px;
}

input {
    width: 80%;
    height: 100%;
    padding: 10px;
}

button {
    width: 20%;
    height: 100%;
    background-color: #ff8800;
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

main span {
    margin: 0 40px 0 0;
    color: black;
}

/******************************************
/* SECTION ONE
/*******************************************/

#one {
    padding: 150px;
    height: 700px;
}

#one > section {
    width: 30%;
    float: left;
    height: 100%;
}

#one > section + section {
    width: 70%;
}

#one a {
    display: block;
    text-align: center;
    width: 150px;
    height: 50px;
    font-family: sans-serif;
    padding-top: 15px;
    background-color: #ff8800;
    color: white;
    border: none;
    border-radius: 10px;
}

/******************************************
/* SECTION TWO
/*******************************************/

#two {
    background-color: #f3f7f8;
    height: 900px;
    text-align: center;
    padding: 100px;
}

#two > section {
    width: 50%;
    margin: 0 auto 30px;
    height: 35px;
}

#two a {
    font-size: 20px;
    display: block;
    width: 20%;
    float: left;
    padding-bottom: 10px;
    border-bottom: 2px #dbdedf solid;
}

a#breakfast {
    color: #ff8800;
    border-bottom: 2px #ff8800 solid;
}

#two > section + section {
    clear: both;
    width: 100%;

    & img {
        height: 240px;
        width: 20%;
        margin: 0 15px 20px;
    }
}

/******************************************
/* SECTION THREE
/*******************************************/

#three {
    height: 1200px;
    padding: 100px;
    text-align: center;
    background-color: #f9fafa;

    span, a {
        display: block;
        color: black;
    }

    section {
        width: 50%;
        float: left;
        margin-bottom: 50px;
    }

    section > span {
        text-align: left;
        margin-left: 50px;
    }

    section > span + span {
        font-weight: bold;
        font-size: 20px;
    }

    .orange {
    color: #ff8800;
    }

    a + span.orange {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    section + img {
        width: 100%;
        height: auto;
    }

}

/******************************************
/* SECTION FOUR 
/*******************************************/

#four {
    text-align: center;
    padding: 100px;
    height: 700px;
    
    img {
        display: block;
        margin: 20px auto;
    }

    p {
        width: 70%;
        margin: auto;
    }
}

@media (max-width: 1050px) {
    nav {
        display: none;
    }

    main > * {
        margin: auto;
    }
}