.container {
    height: 100vh;
    display: flex;

    gap: 25px;

    place-content: center flex-end;
}

[class ^="box-"] {
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;

    font-size: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}
