/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/******************************************
/* NAV
/*******************************************/

nav {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li > img, li > input {
    width: 100%;
}

li {
    border: 2px solid black;
    width: 10%;
    float: left;
    height: auto;
    text-align: center;
}

li > a {
    width: 7.5%;
}



/* nav {
    height: 45px;
    padding: auto;
    background-color: black;
}

ul {
    list-style: none;
}

a, a:link {
    text-decoration: none;
    color: white;
}

.nav {
    border-right: solid 2px white;
    width: 7.5%;
    height: auto;
    float: left;
    text-align: center;
    padding: auto;
}

li > .nav-10 {
    width: 10%;
    height: auto;
}

/******************************************
/* MAIN
/*******************************************/
/* h1 {
    float: left;
}

h1 + p {
    float: right;
    margin-top: 30px;
    color: gray;
    font-weight: bold;
}

.main-content {
    width: 50%;
    height: auto;
    float: left;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/